/**********************************************************************
 *
 *  pb: The following code adds to the theme-blue of the docdock theme
 *
 *********************************************************************/


.display-centered{
        display:block;
        margin-left:auto;
        margin-right:auto;
}


.smallpb {
	max-width: 30%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
}


.floatright {
	max-width: 30%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: right;
}

.floatleft {
	max-width: 30%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: left;
}

.home-section {
    padding: 30px 0 30px 0;
  }

footer {
  margin: -1rem 0 0;
  padding: -1rem 0;
  width: 100%;
}

figcaption {
  text-align: center;
}

# https://discourse.gohugo.io/t/handling-images-size-aligning/1940/2
img[src$='#floatleft']
{
	max-width: 30%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: left;
}

img[src$='#floatright']
{
	max-width: 30%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: right;
}


