

{{ partial "header.html" . }}

<h3>This is the list template at layout/_default/list.html</h3>

{{ .Content }}


<ul>
   {{ range (where .Site.RegularPages "Section" .Section ) }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}:&nbsp;&nbsp;</span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}

</ul>




{{if not .Content }}
No Content here means no _index.md in this folder!
	{{ $paginator := .Paginator }}

	<div class="extra-pagination inner">
	{{ partial "pagination.html" $paginator }}
	</div>

	{{ range $index, $page := $paginator.Pages }}
	   {{ .Render "li" }}
	{{ end }}

	<div style="margin-bottom:2rem"></div>

	{{ partial "pagination.html" $paginator }}
{{end}}

{{ partial "footer.html" . }}
