

{{ partial "header.html" . }}

{{ .Content }}


{{ range ($hiddenPages := where .Site.RegularPages "Section" .Section ) }}
{{ if ne .Params.hidden true  }}
 <li>
        <span class="date">{{ .Date.Format "2006/01/02" }}:&nbsp;&nbsp;</span>
        <a href="{{ .URL }}">{{ .Title }}</a>
        </li>
{{ end }}
{{ end }}


{{if not .Content }}
<!-- No Content here means no _index.md in this folder! -->
	{{ $paginator := .Paginator }}

	<div class="extra-pagination inner">
	{{ partial "pagination.html" $paginator }}
	</div>

	{{ range $index, $page := $paginator.Pages }}
	   {{ .Render "li" }}
	{{ end }}

	<div style="margin-bottom:2rem"></div>

	{{ partial "pagination.html" $paginator }}
{{end}}

{{ partial "footer.html" . }}
