<!-- Partial intended to be overwritten for content footers like commenting systems -->

{{ template "_internal/google_analytics.html" . }}

{{ partial "copyright.html" . }}

{{ if .Site.Params.staticman}}
{{ if not .Page.Params.commentsnotallowed}}
        <div>
                <h3>Start/Join the Discussion:</h3>
                <form method="POST" action="https://api.staticman.net/v2/entry/petzi53/weblog2/master/content/post">
                  <input name="options[redirect]" type="hidden" value="https://l3lab.netlify.com/">
                  <!-- e.g. "2016-01-02-this-is-a-post" -->
                  <input name="options[slug]" type="hidden" value="{{ .URL }}">
                  <label><input name="fields[name]" type="text">Name</label>
                  <label><input name="fields[email]" type="email">E-mail</label>
                  <label><textarea name="fields[message]"></textarea>Message</label>

                  <button type="submit">Go!</button>
                </form>
        </div>
{{ end }}
{{ end }}

<!--
{{ template "_internal/disqus.html" . }}
-->
{{ template "_internal/google_analytics.html" . }}
{{ template "_internal/google_analytics_async.html" . }}

{{ partial "disqus.html" . }}
