<footer class=" footline" >

<!--

    {{with .Params.Date}}
    	   Page created:
    	   {{with $.Date}} <i class='fa fa-calendar'></i> {{ .Format "2006-01-02" }}{{end}}
    {{end}}

	{{with .Params.lastmod}}
    	    | Last modified:
    	    {{with $.Lastmod}} <i class='fa fa-calendar'></i> {{ .Format "2006-01-02" }}{{end}}
	{{end}}
    </div>
-->

    {{with .Params.Date}}
    	   Page created:
    	   {{with $.Date}} <i class='fa fa-calendar'></i> {{ .Format "2006-01-02" }}{{end}}
    {{end}}

    {{ if ne .Lastmod .Date }}
    	{{with .Params.lastmod}}
        	    | Last modified:
        	    {{with $.Lastmod}} <i class='fa fa-calendar'></i> {{ .Format "2006-01-02" }}{{end}}
    	{{end}}
    {{end}}

    </div>

</footer>
