{{ partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fa fa-bars"></i> navigation</a>
</span>

<h1>About me</h1>
<p>I am professor of Education Technology and was for 13 years head of the <a href="https://www.donau-uni.ac.at/en/university/faculties/education-arts-architecture/departments/continuing-education-research-educational-technologies.html" >Department of Interactive Media and Educational Technologies</a> (now renamed into Department for Continuing Education Research and Educationl Technologies) at <a href="https://www.donau-uni.ac.at/en.html">Danube University Krems</a> (Austria). Since July 2019, I am retired.</p>

<p>I had held positions as professor at several universities (Klagenfurt, Münster, Innsbruck, Hagen) before I accepted the nomination to Krems. I published 25 books (10 monographs and 15 edited volumes) and <a href="https://portfolio.peter-baumgartner.net/publication/">more than 200 articles</a>.</p>

<p>This is my English weblog, where I want to focus on Open Science and new workflows and tools for scientific research. It should cover the new subjects I am interested in and supplement my German Wordpress blog <a href="https://peter.baumgartner.name/" >Gedankensplitter</a>, specialized on e-learning.</p>

I started this web page already in Summer 2017. As you can see, there are not many posts so far. I am still struggling
<a href="2019/05/31/blog-writing-barriers-to-overcome/">to overcome some barriers</a> such as language, technical difficulties, and finding an appropriate writing style for my new audience. </p>

<hr />

<h1>Visit my other web presences</h1>


<div class="notices note" ><p class="centered">There is a <a href="https://www.peter-baumgartner.net/" >landing page</a> where you can find information, images and links to my other web presences.<br />I have sorted the following list of links alphabetically.</p>
</div>

<p><a href="https://orcid.org/0000-0003-4526-8791" ><img class="inline-icon" src="img/social-icons/orcid.png" alt="ORCID Logo" height="32" width="42"/></a>My unique researcher ID = <a href="https://orcid.org/0000-0003-4526-8791" >0000-0003-4526-8791</a>. Read my article: <a href="2018/08/26/orcid-researchers-uniquely-identified/" >What is an ORCID ID?</a></p>

<p><a href="https://users.dict.cc/petzi53/" ><img class="inline-icon" src="img/social-icons/dict.cc.jpg" alt="Dict.cc Icon" height="32" width="42" /></a>Use my Croatian-German flashcards in <a href="https://users.dict.cc/petzi53/" >dict.cc</a>, a multilingual dictionary driven and maintained by the community.</p>


<p><a href="https://www.diigo.com/user/pbaumgartner" ><img class="inline-icon" src="img/social-icons/diigo.jpg" alt="Diigo Logo" height="32" width="42" /></a>See and share booksmarks with me in <a href="https://www.diigo.com/user/pbaumgartner" >Diigo</a>, a social bookmarking website, especially suited as a digital research tool.</p>

<p><a href="https://portfolio.peter-baumgartner.net/publication/" ><img class="inline-icon" src="img/social-icons/download.jpg" alt="Download Icon" height="32" width="42" /></a><a href="https://portfolio.peter-baumgartner.net/publication/" >Download</a> my publications from Educational Patterns, a website I abandoned August 2018 for reasons explained <a href="2018/07/19/blogdown-using-themes#from-docdock-to-academic">here in the blue box</a>.</p>

<p><a href="https://github.com/petzi53" ><img class="inline-icon" src="img/social-icons/github.png" alt="Github icon" /></a>My repositories on <a href="https://github.com/petzi53" >GitHub</a>, a Git repository hosting service.</p>

<p><a href="https://peter.baumgartner.name/" ><img class="inline-icon" src="img/social-icons/wordpress.png" alt="Wordpress Logo"  /></a>Visit my German Wordpress blog <a href="https://peter.baumgartner.name/" >Gedankensplitter</a> and read about eLearning and educational technology.</p>


<p><a href="https://www.goodreads.com/user/show/13270093-peter-baumgartner" ><img class="inline-icon" src="img/social-icons/goodreads.png" alt="Goodreads Logo" height="32" width="42" /></a>Track the books I read and read my reviews on <a href="https://www.goodreads.com/user/show/13270093-peter-baumgartner" >Goodreads</a>, the largest site for readers and book recommendations.</p>

<p><a href="https://scholar.google.at/citations?user=mKCNn9kAAAAJ&hl" ><img class="inline-icon" src="img/social-icons/google-scholar.png" alt="Google Scholar Icon"  height="36" width="46" /></a>My Page on <a href="https://scholar.google.at/citations?user=mKCNn9kAAAAJ&hl" >Google Scholar</a>, a freely accessible web search engine that indexes scholarly literature. </p>

<p><a href="https://prezi.com/user/baumgartner/" ><img class="inline-icon" src="img/social-icons/prezi.png" alt="Prezi Logo" height="34" width="46" /></a>Look, download and edit my <a href="https://prezi.com/user/baumgartner/" >Prezi presentations</a>, about half of them im English and some with German audit track. </p>

<p><a href="https://rpubs.com/pbaumgartner/" ><img class="inline-icon" src="img/social-icons/rstudio.png" alt="RStudio Logo" height="32" width="42" /></a>Read and comment my R Markdown documents written in RStudio und published via <a href="https://rpubs.com/pbaumgartner/" >RPubs</a>.</p>


<p><a href="skype:baumgartner53?call" ><img class="inline-icon" src="img/social-icons/skype.png" alt="Skype Logo" /></a>Contact me via <a href="skype:baumgartner53?call" >Skype</a>.</p>

<p><a href="https://stackoverflow.com/users/7322615/petzi" ><img class="inline-icon" src="img/social-icons/stack-overflow.png" alt="Stack Overflow Icon" /></a>My profile on <a href="https://stackoverflow.com/users/7322615/petzi" >StackOverflow</a>, the world’s largest developer community.</p>


<p><a href="https://bookdown.org/pbaumgartner/wiss-arbeiten/" ><img class="inline-icon" src="img/social-icons/electronic-publication.png" alt="Publication Icon" height="32" width="42" /></a>Read my book <a href="https://bookdown.org/pbaumgartner/wiss-arbeiten/" >Studieren und Forschen mit dem Internet</a> on the Internet or as PDF, ePub or in mobi format.</p>


<p><a href="https://twitter.com/pbaumgartner" ><img class="inline-icon" src="img/social-icons/twitter.png" alt="Twitter Icon" /></a>Follow me on <a href="https://twitter.com/pbaumgartner" >Twitter</a>, a social networking site for micro-blogging.</p>



<p><a href="https://www.zotero.org/petzi/" ><img class="inline-icon" src="img/social-icons/zotero.jpg" alt="Zotero Logo" height="32" width="42" /></a>Visit and follow me on <a href="https://www.zotero.org/petzi/" >Zotero</a>, a citation management systems to collect, organize and share citations.</p>

<!--
OSF (Open Science Flagship?) is a free, open source web application that connects and supports the research workflow, enabling scientists to increase the efficiency and effectiveness of their research.
-->


{{ partial "footer.html" . }}
