/*************************************************
 *  Here are my changes for remark.js
 **************************************************/

 .red {color:red;}
 .yellow {color:yellow;}
 .green {color:green;}
 .blue {color:blue;}
